h1 {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 0;
  color: green;
  text-shadow: lightgreen;
  text-align: center;
}
h3 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: green;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid purple;
  box-shadow: 2px 2px 6px 0px black;
}
.cards img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}
